# Vercel Dashboard > Project > Settings > Environment Variables
# Bu değerleri Production (ve istersen Preview) için ekle.

GITHUB_TOKEN=ghp_xxx_buraya_github_token
GITHUB_REPO=sinemSahinGs-png/kxrgx
GITHUB_BRANCH=main

# Opsiyonel: admin şifresi içeriikte yoksa bu kullanılır
# ADMIN_PASSWORD=Gülpembe3169
